*.md
*.ipynb
wandb
*.pyc
*.XLS
*.xlsx
*.out
*.csv
*.pkl
data/
load_cos/
train_results/
reev_control/envs/Copy_of_REEVSimEnv_20250401_ert_shrlib_rtw
reev_control/envs/IRE3_20260105_ert_shrlib_rtw
*__pycache__
scripts/nohup_out.txt
scripts/nohup_out2.txt
eval_results/
.venv
